{
  "presets": ["es2015"],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["./lib"],
      "alias": {
        "package.json": "./package.json",
        "app": "./lib/app.js",
      }
    }]
  ]
}
