{
  "extends": [
    "plugin:shopify/esnext",
    "eslint:recommended",
    "plugin:shopify/node",
  ],
  "rules": {
     "no-console": "off",
     "node/shebang": "off",
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }

}
